[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v6.0
[submodule "esp-matter"]
	path = esp-matter
	url = https://github.com/espressif/esp-matter.git
[submodule "components/quickjs/extern/quickjs"]
	path = components/quickjs/extern/quickjs
	url = https://github.com/bellard/quickjs.git
